:root {
    --primary: #121212;
    --secondary: #212121;
    --pink: #D84797;
    --white: #9b9b9b;
    --blue: #3ABEFF;
    --blue2: #26FFE6;
    --purple: #B8B3E9;
}

* {
    background-color: var(--primary);
    color: var(--white)
}