#community-create {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    align-items: center;
    opacity: .7;
    z-index: 100;
}


.communiy-create-inner,
.communiy-create-inner * {
    height: 30%;
    border-radius: 10px;
    z-index: 90;
    width: 25%;
    background-color: #464646;
    color: #dedede;
}

.community-create-in {
    width: 350%;
    height: 40px;
    margin-left: 25%;
    user-select: none;
    -webkit-user-drag: none;
    outline: none;
    border: none;
    background-color: #424242;
    padding: 14px;
    border-radius: 7px;
}