.messages {
    word-wrap: break-word;
    width: calc(100% - 480px);
    overflow-x: unset;
    margin-left: 270px;
    margin-top: 0px;
    max-height: 90vh;
    overflow-y: scroll;
}

.message {
    word-wrap: break-word;
}

.messageContent {
    word-wrap: break-word;
    width: 90%;
    margin-left: 65px;
    margin-top: -15px;
}

.messageAuthor {
    display: flex;
    justify-content: left;
}

.messageAuthorUsername, .messageAuthorNickname, .messageAuthorTimestamp {
    margin-left: 10px;
    margin-top: 0px;
    margin-left: 14px;
    font-size: 14px;
}

.messageAuthorAvatar {
    user-select: none;
    object-fit: cover;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.message.withAuthor .messageContent {
    margin-top: -30px;
}

.message-image {
    max-width: 400px;
    max-height: 250px;
    border-radius: 4px;
    margin-left: 60px;
    margin-top: -25px;
}

.message-image.imageurl {
    margin-top: 15px;
}